{{#section 'title'}}
	<title>关于我 | 慢灵魂</title>
{{/section}}
{{#section 'head'}}
	<link rel="stylesheet" href="/css/inc_style.css">
    <link rel="stylesheet" href="/css/about.css">
{{/section}}
<div id="main">
    <h1 id="title">关于我</h1>
    <h2 id="linkme">
        <a href="" title="我的微博">
            <svg class="icon">
                <use xlink:href="#icon-weibo"></use>
            </svg>
        </a>
        <a href="" title="我的GitHub">
            <svg class="icon">
                <use xlink:href="#icon-github"></use>
            </svg>
        </a>
    </h2>
    <span>95后，不知名本科院校，信息与科学技术学院，大三学生狗。</span>
    <span>学习前端，热爱前端，喜欢折腾。</span>
    <span>爱看书，爱看电影。</span>
    <span class="title-span">我会一点：</span>
    <ul>
        <li>javascript</li>
        <li>html，css</li>
        <li>Vue.js</li>
        <li>Node.js</li>
        <li>MongoDB</li>
    </ul>
    <span class="title-span">自己做过的小作品：</span>
    <ul>
        <li>
            一个用Vue.js做的模仿网易云音乐的单页面应用：
            <a href="https://github.com/SlowSoulWen/vue-music">vue-music</a>
        </li>
    </ul>
    <span>我的另一个博客【<a href="http://wenguangblog.com">在这里</a>】，一个静态博客，基于Hexo，挂在GitHub上。 </span>
</div>
{{#section 'js'}}
	<script src="/js/iconfont.js"></script>
{{/section}}
