<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="responsive-nav.css">
</head>
<body>
	<div id="nav">
	  <ul>
	    <li><a href="#">Home</a></li>
	    <li><a href="#">About</a></li>
	    <li><a href="#">Projects</a></li>
	    <li><a href="#">Contact</a></li>
	  </ul>
	</div>
	<script src="responsive-nav.min.js"></script>
<script>
  var navigation = responsiveNav("#nav");
</script>
</body>
</html>